html,body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/bg.avif);
}

.header{
    justify-content: center;
    text-align: center;
    background-color: aqua;
}

.head-img{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white ;
}
.kampus{
    margin-top: -15px;
    margin-bottom: 10px;
}
.container {
    display: flex;
    padding: 20px;
    justify-content: space-around;
  }
  
  .column {
    background-color: aqua;
    padding: 20px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1; /* Membuat kolom bisa menyesuaikan lebar */
  }

  .column h2 {
    text-align: center;
    color: #0a0404;
  }
  .column p {
    line-height: 1.6;
    text-align: center;
    color: #555;
}
.column ul {
    list-style-type: none;
    padding: 0; 
    text-align: center;
}
.column ul li {
    padding: 5px 0;
    color: #0a0404;
    font-size: x-large;
  }

  .copy {
    text-align: center;
    background-color: aqua;
    padding: 20px;
    height: 30px;
    font-size: 18px;
  }
